*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.logo img{
    width: 300px;
    padding: 1rem 1rem;
   
}

.navigation{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 15px;
    font-weight: 700;
    color: grey;
    margin-left: -180px;
    margin-top: 10px; 
    margin-bottom: 8px;
    cursor: pointer;
}

.navigation li{
  transition: color 0.15s ease, transform 0.15s ease;
}

.navigation li:hover{
    color: rgb(179, 179, 179);
    transform: translateY(-5px);
}



.username{
    text-decoration: none;
    background-color: rgb(202, 233, 243);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1rem 1.5rem;
    margin-right: 30px;
    cursor: pointer;
    color: rgb(102, 194, 252);
    font-size: 0.8rem;
    font-weight: 700;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.username:hover{    
    background-color: rgb(102, 194, 252);
    color: rgb(202, 233, 243);
}


/*<---main--->*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section{
    width: 40%;
    
}

.left-section h1{
    font-size: 3.2rem;
    line-height: 70px;
}

.left-section span{
    color: rgb(102, 194, 252);
}

.left-section p{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    line-height: 30px;
    color: rgb(155, 155, 155);
}

.left-section button{
    margin-top: 30px;
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 15px;
    background-color:rgb(102, 194, 252);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: fixed;
    border: 1px solid rgb(102, 194, 252);
    transition: background-color 0.15s ease, color 0.15s ease, border 0.15s ease;
}

.left-section button:hover{
    color:rgb(102, 194, 252);
    background-color: rgb(255, 252, 246);
    border: 1px solid rgb(102, 194, 252);
}

.right-section{
    width: 40%;
}

.right-section img{
    width: 700px;
    margin-left: 170px
}
